body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    text-align: justify; /* Justify text in the body */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4682b4;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

.preamble {
    text-align: justify; /* Justify text in the preamble */
    margin: 20px;
    font-size: 1.2em;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

audio {
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.image-section {
    margin-bottom: 20px;
    text-align: center;
}

.ecosystem-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.highlight-area {
    position: absolute;
    border: 2px solid rgba(255, 0, 0, 0.5); /* Red border with 50% opacity */
    background-color: rgba(255, 0, 0, 0.2); /* Red background with 20% opacity */
    pointer-events: none; /* Makes the area non-clickable */
}

.highlight-area:hover {
    border-color: rgba(255, 0, 0, 0.8); /* Darker red border on hover */
    background-color: rgba(255, 0, 0, 0.4); /* Darker red background on hover */
}

.element-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
}

.element-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.element-description {
    flex: 1;
    text-align: justify; /* Justify text in the element description */
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Nested list styles */
.menu ul {
    list-style-type: none;
    padding-left: 20px;
}

.menu ul ul {
    padding-left: 20px;
}
